body {
    margin: 0;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.contact-card {
    border: 1px solid #f2f2f2;
    flex-basis: 250px;
    margin: 20px;
    padding: 0 10px;
}

.contact-card > img {
    width: 100%;
    height: auto;
}

.contact-card > h3 {
    text-align: center;
}

.contact-card > p {
    font-size: 12px;
}